/* Application wide mods */
body {
  width: 810px;
}

/* ActiveAdmin mods */
#active_admin_content #main_content_wrapper #main_content {
  margin-right: 0;
}

#active_admin_content #sidebar {
  clear: left;
  float: right;
  margin-top: 30px;
}